div.QRESPONSEBLOCK1 {
    background-color: #E7E7E7;
}

div.QRESPONSEBLOCK0 {
    background-color: #FFFFFF;
}
.logo_top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 3in;
}
.logo_bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 6in;
}
